PORT=3001
HOST=0.0.0.0
TZ=Asia/Shanghai
VALUATION_TARGET_FUNDS=161725,110011,006327
EASTMONEY_ENABLED=true
EASTMONEY_BASE_URL=https://push2delay.eastmoney.com
EASTMONEY_TIMEOUT_MS=4000
EASTMONEY_USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36
EASTMONEY_REFERER=https://quote.eastmoney.com/
